@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c7a4dc;
}


/* ------------------------------- */
/* BURBUJAS EN LA PAGINA */
/* ------------------------------- */


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#73a8bd, #bd77b3);
    clip-path: circle(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#bd77b3, #73a8bd);
    clip-path: circle(20% at 10% 10%);
}


/* ------------------------------- */
/* BURBUJAS EN LA PAGINA */
/* ------------------------------- */



.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 700px;
    height: 700px;
    margin: 30px;
    border-radius: 15px;
    background: #46165e80;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


/* ------------------------------- */
/* BURBUJAS DENTRO DE LA TARJETA */
/* ------------------------------- */

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0cbece4b, #0cbece4b);
    clip-path: circle(30% at right 10%);
    z-index: -1;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0cbece4b, #0cbece4b);
    clip-path: circle(30% at 10% 70%);
    z-index: -1;
}



/* ------------------------------- */
/* BURBUJAS DENTRO DE LA TARJETA */
/* ------------------------------- */




/* ------------------------------- */
/* IMAGENES */
/* ------------------------------- */

.card .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    opacity: 0.5;
}

/* ------------------------------- */
/* IMAGENES */
/* ------------------------------- */






/* ------------------------------- */
/* TEXTO HE INFORMACION */
/* ------------------------------- */



.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.secciones {
    margin-top: 9%;
}

h2 {
    position: absolute;
    top: -70px;
    right: 50px;
    font-size: 12em;
    color: rgba(255, 255, 255, 0.872);
    pointer-events: none;
    display: flex;
    text-decoration: underline;
    text-align: center;
    z-index: 10;
    filter: drop-shadow(10px 7px 10px #bd77b3);

}


h3 {
    font-size: 2em;
    color: #000000;
    margin-top: 1%;
    top: 10%;
    z-index: 10;
    filter: drop-shadow(10px 7px 10px white);


}

.texto {
    margin-top: 15%;
}

p {
    font-size: 1.2em;
    color: #000000;
    /* font-weight: 300; */
    margin: 2%;
}



/* ------------------------------- */
/* TEXTO HE INFORMACION */
/* ------------------------------- */






/* --------------------------------------------------------------- */
/* ENLACES */
/* --------------------------------------------------------------- */

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 15px;
    background: #ffffff5a;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

p a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

p a i {
    margin-right: 8px;
    color: #000;
}

/* --------------------------------------------------------------- */
/* ENLACES */
/* --------------------------------------------------------------- */
















/* --------------------------------------------------------------- */
/* RESPONSIVE */
/* --------------------------------------------------------------- */



@media (max-width: 768px) {
    .container .card {
        width: calc(100% - 40px);
        margin: 15px;
    }

    


/* ------------------------------- */
/* TEXTO HE INFORMACION */
/* ------------------------------- */



.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.secciones {
    margin-top: 5%;
}

h2 {
    position: absolute;
    top: -50px;
    right: 30px;
    font-size: 9em;
    color: rgba(255, 255, 255, 0.872);
    pointer-events: none;
    display: flex;
    text-decoration: underline;
    text-align: center;
    z-index: 10;
    filter: drop-shadow(10px 7px 10px #bd77b3);

}


h3 {
    font-size: 2em;
    color: #000000;
    margin-top: 1%;
    top: 50%;
    z-index: 10;
    filter: drop-shadow(10px 7px 10px white);
}

.texto {
    margin-top: 20%;
}

p {
    font-size: 1.2em;
    color: #000000;
    margin: 1%;

}


/* ------------------------------- */
/* TEXTO HE INFORMACION */
/* ------------------------------- */





/* ------------------------------- */
/* IMAGENES */
/* ------------------------------- */

.card .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    opacity: 0.5;
}

/* ------------------------------- */
/* IMAGENES */
/* ------------------------------- */






    
}

@media (max-width: 480px) {
    .container .card {
        width: calc(100% - 30px);
        margin: 10px;
    }
}
